.nomePress { 
    padding: 0.8rem 1rem 0.7rem;
    cursor: pointer;
    text-transform: capitalize;
    border: 0.2rem dashed #4d4d4d;
    text-decoration: underline;
    border-color: #4d4d4d;
    color: red;
    background-color: rgb(198, 223, 178);
}
.nomeFiltro{
    padding: 0.8rem 1rem 0.7rem;
    cursor: pointer;
    text-transform: capitalize;
    border: 0.2rem dashed #4d4d4d;
    text-decoration: underline;
    border-color: #4d4d4d;
    background-color: #fff;
    color: #310cb8;
}